#app {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background: goldenrod;

  h1 {
    font-weight: 700;
    font-size: 2rem;
  }

  p {
    font-size: 1.5rem;

    strong {
      font-weight: 700;
    }

    span {
      color: blue;
      font-weight: 700;
    }
  }
}
